*{
	margin:0;
	padding: 0;
}
 
body{
	background-color: #eeeeee;
}
 
.container{
	width: 1000px;
	height: 450px;
	margin:60px auto;
	position: relative;
}
 
 
.pic1{
    left: 500px;
    top: 0;
    transform:rotate(-5deg);
    -webkit-transform:rotate(-5deg);
}
 
.pic2{
    left: 200px;
    top: -10px;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}
.pic3{
    top: 220px;
    right: 80px;
    transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
}
 
.pic4{
    top: 100px;
    left: 300px;
    transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
}
 
.pic5{
 
    top: 20px;
    right: 134px;
    transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
}
.pic6{
    left: 10px;
    top: 0;
    transform:rotate(10deg);
    -webkit-transform:rotate(10deg);
}
 
.pic7{
    left: 850px;
    bottom: 175px;
    transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
}
.pic8{
    left: 120px;
    top: 176px;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}
.pic9{
    left: 213px;
    top: 394px;
    /* transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg); */
}
.pic10{
    left: 330px;
    top: 320px;
    transform:rotate(-15deg);
    -webkit-transform:rotate(-15deg);
}
.pic11{
    left: 504px;
    top: 302px;
    transform:rotate(-17deg);
    -webkit-transform:rotate(-17deg);
}
.pic0{
    left: -25px;
    top: 250px;
    transform:rotate(5deg);
    -webkit-transform:rotate(-15deg);
}
 
 
.container img{
	 padding: 10px 10px 15px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    position: absolute;
    z-index: 1;
}
 
.pic{
	width: 200px;
	margin-right: 1%;
}
 
.container>img:hover{
	 box-shadow: 15px 15px 20px rgba(50,50,50,0.4);
    transform:rotate(0deg) scale(2.20);
    -webkit-transform:rotate(0deg) scale(1.50);
    z-index: 1000;
}
